# This is a basic workflow to help you get started with Actions

name: testing

# Controls when the action will run.
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Build docker images
        run: docker build -t unoconv-promise:latest .
      - name: Test
        run: docker run unoconv-promise:latest npm run test:report
